/laskarit/viikko2/Unicafe/target

/laskarit/viikko2/Unicafe/nbproject/

/laskarit/viikko2/Maksukortti/nbproject/


/TranscribeBuddy/target/
/TranscribeBuddy/nbproject/
/TranscribeBuddy/testdata/
/TranscribeBuddy/config.properties
